html, body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li{
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #ddd;
}

.each-fade {
  display: flex;
  max-height: 60vh;
  text-align: center;
}

.each-fade  .image {
  width: 70%;
  height: 96%;
  display: flex;
  justify-content: center;
}

.TextContent {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 3%;
  border : solid 2px black;
}

.TextContent h2{
  color: #99dddd;
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;
  margin: 10% 0;
}

.TextContent p{
  color: #11ffff;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
}

.image h2 {
  font-size: 1rem;
  margin-bottom: 5%;
  color: #333;
  text-shadow: 0 0 0.1rem #11ffff;
}

@media only screen and (max-width: 600px){
  .TextContent h2{
    font-size: 0.6rem;
  }
  .each-fade{
    max-height: 30vh;
  }
  .each-fade .image{
    width: 50%;
  }
  .TextContent {
    width: 50%;
  }
}

@media only screen and (max-width: 490px) {
  .each-fade{
    max-height: 35vh;
  }
  .each-fade .image{
    width: 100%;
  }
  .TextContent {
    width: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .TextContent h2 {
    font-size: 0.9rem;
  }
}

table{
  border-collapse: collapse;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  table-layout: fixed;
  word-wrap: break-word;
}

th {
  border: solid 2px #444;
  padding: 2% 0.5%;
  background-color: #113377;
  color: #ddd;
  text-align: center;
  font-size: 1.1rem;
}

td {
  border: solid 2px #444;
  background-color: #33aaff;
  padding: 2% 0.2%;
  font-size: 1rem;
  font-weight: 700;
  min-width: 10vw;
  text-align: center;
  transition: all 1s;
}

@media only screen and (min-width: 1100px) {
  td:hover {
    background-color: #9999ff;
  }
  .tabLinks:hover:not(.activeTabLink) {
    background-color: #aaaaff;
  }
}

@media only screen and (max-width: 900px){
  th{
    padding: 2%;
    font-size: 0.9rem;
  }
  td{
    padding: 2%;
    font-size: 0.7rem;
  }
}

.spinner {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.tab {
  width: 100%;
  background-color: #bbb;
  text-align: left;
}

.tabLinks {
  border: none;
  padding: 1% 2%;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  background-color: transparent;
  font-size: 3vh;
}

.activeTabLink {
  background-color: #2222ee;
  outline: none;
}

.aboutContent {
  width: 100%;
  padding: 3vh 4%;
  background-color: #fbfbfb;
}

.paragraph:last-child{
  margin-bottom: 5vh;
}

.AboutKeyWest {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/Flag_of_Key_West%2C_Florida.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2%;
  height: auto;
  position: relative;
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.6);
}